/GirlsGeek.Solution/GeekGirlsDemo.Business/bin
/GirlsGeek.Solution/GeekGirlsDemo.Business/obj
/GirlsGeek.Solution/GeekGirlsDemo.AppWithSPA/bin
/GirlsGeek.Solution/GeekGirlsDemo.AppWithSPA/obj
/GirlsGeek.Solution/GeekGirlsDemo.AppWithoutSPA/obj
/GirlsGeek.Solution/GeekGirlsDemo.AppWithoutSPA/bin
